.container{
    height: 100vh;
}

.full-height{
    height: calc(100% - 60px);
}

.left-menu{
    width: 15%;
}

.content{
    display: flex;
    flex: 1;
    background-color: rgb(177, 177, 255);
}

